!!! 5
%html
  %head
    %title Villa Storefront
    %meta{:charset => "utf-8"}
    %meta{:content => "Middleman", :name => "description"}
    %meta{:content => "on", "http-equiv" => "cleartype"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %link{:href => "stylesheets/style.css", :rel => "stylesheet"}

  %body{ :class => page_classes }
    = render_partial 'nav_bar'
    = yield
    = render_partial 'footer'
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}
  %script{:src => "javascripts/bootstrap.min.js"}
  
