.spsf a {
	color:#2f86c7;
}

.spsf .navbar-secondary {
	background: #0a3352; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhMzM1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMxJSIgc3RvcC1jb2xvcj0iIzBiM2M2MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzBmNTE4MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZjRmODAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #0a3352 0%, #0b3c61 31%, #0f5182 80%, #0f4f80 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a3352), color-stop(31%,#0b3c61), color-stop(80%,#0f5182), color-stop(100%,#0f4f80)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0a3352 0%,#0b3c61 31%,#0f5182 80%,#0f4f80 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0a3352 0%,#0b3c61 31%,#0f5182 80%,#0f4f80 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0a3352 0%,#0b3c61 31%,#0f5182 80%,#0f4f80 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0a3352 0%,#0b3c61 31%,#0f5182 80%,#0f4f80 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a3352', endColorstr='#0f4f80',GradientType=0 ); /* IE6-8 */
	
}

.spsf .sub-nav-wrapper {
	border-bottom:4px solid #0d456f;
}
.sub-nav a {
	color:#9ea0a3;
	font-weight:normal;
}
.spsf .dark-underline {
	border-bottom:4px solid #A54D10;
}

.spsf .btn-default {
	color:#FFF;
	background-color:#0B446E;
	border:0;
}
.spsf .btn-default:hover,
.spsf .btn-default:focus {
  background-color: #0a5389;
  background-position: 0 15px;
}
.spsf .btn-default:active,
.spsf .btn-default.active {
  background-color: #0a5389;
}

.spsf .footer-logo {
	width:200px;
	height:60px;
	background:url("../img/footer-spsf.png") no-repeat;
}