.footer
  .container
    %p © Villa Enterprises Management  2014
    %p
      %a{href: "#"} Terms and Conditions
      |
      %a{href: "#"} Privacy Policy
    %p
      For assistance, please email
      %a{href: "#"} villa@tukaiz.com
      or call 847.288.4920
    .footer-logo