.main-content{role: "main"}
  / Main jumbotron for a primary marketing message or call to action
  .main-banner
    .container
      %a{href: "#"}
        %img{src: "images/banner1.jpg"}/
    / end container
  .container
    .row
      .col-md-4.col-sm-4
        .home-links
          %h3 Uniforms
          %ul
            %li
              %a{href: "#"}
                %i.fa.fa-external-link>
                Fresh Italian Kitchen
            %li
              %a{href: "#"}
                %i.fa.fa-external-link>
                Green Leaf’s
            %li
              %a{href: "#"}
                %i.fa.fa-external-link>
                Bananas
            %li
              %a{href: "#"}
                %i.fa.fa-external-link>
                South Philly Steaks and Fries
          %h3 Additional Resources
          %ul
            %li
              %a{href: "#"}
                %i.fa.fa-external-link>
                Smallwares
            %li
              %a{href: "#"}
                %i.fa.fa-external-link>
                Business Cards
            %li
              %a{href: "#"}
                %i.fa.fa-external-link>
                Villa Enterprises Home Page
        / end home-links
      / end column
      .col-md-8.col-sm-8
        %h2
          What’s
          %strong New?
        %span.date 3/5/2014
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
      / end column
    / end row
  / end container
/ end main cotent