.main-content{role: "main"}
  .sub-nav-wrapper
    .container.sub-nav-container
      %ul.navbar.navbar-nav.sub-nav
        %li
          %a{href: "vik-catalog.html"} Promotions
        %li
          %a{href: "#"} Menu Boards
        %li
          %a{href: "#"} POP/Store Signage
        %li
          %a{href: "#"} Local Store Marketing & Catering
        %li
          %a{href: "#"} New Store Opening
        %li
          %a{href: "#"} Miscellaneous
  / end wrapper
  .page-title
    .container
      %h1 South Philly Steak and Fries
    / end container
  / end page-title
  .container
    %ul.breadcrumbs
      %li
        %a{href: "index.html"} Home
      %li
        %i.fa.fa-angle-right
        South Philly Steak and Fries
    .row
      .col-md-7.col-sm-7
        %h2 Welcome to our kitchen!
        %p Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
        %h4.light-underline
          Coming
          %strong Soon
        .row
          .col-md-6
            .product-listing
              %a{href: "details.html"}
                %img{src: "/images/products/sample1.jpg"}/
                %h5 Product Name
                %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          .col-md-6
            .product-listing
              %a{href: "details.html"}
                %img{src: "/images/products/sample1.jpg"}/
                %h5 Product Name
                %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        .row
          .col-md-4
            .product-listing
              %a{href: "details.html"}
                %img{src: "/images/products/sample1.jpg"}/
                %h5 Product Name
                %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          .col-md-4
            .product-listing
              %a{href: "details.html"}
                %img{src: "/images/products/sample1.jpg"}/
                %h5 Product Name
                %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          .col-md-4
            .product-listing
              %a{href: "details.html"}
                %img{src: "/images/products/sample1.jpg"}/
                %h5 Product Name
                %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      / end column
      .col-md-5.col-sm-5.featured-promo
        %h2.dark-underline
          Featured
          %strong Promo
        %a{href: "#"}
          %img{src: "/images/promos/promo1.jpg"}/
          %p 99¢ Cookie Promo
        %a.btn.btn-default.btn-order.btn-squared{href: "#", type: "button"}
          Order
          %strong Now
          %i.fa.fa-arrow-circle-right
      / end column
    / end row
  / end container
/ end main content